@using MyAudiA4B7Forum.Common
@model MyAudiA4B7Forum.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}";
}

@*<div class="text-center">
        <h1 class="display-4" this.ViewData["Title"]</h1>
    </div>
    @foreach (var category in Model.Categories)
    {

    }*@

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
    <cache expires-after="TimeSpan.FromDays(10)" vary-by-query="id">
        <h1 class="display-3">@DateTime.UtcNow</h1>
    </cache>
    <a asp-controller="Posts" asp-action="Create" class="btn btn-primary btn-lg">Create new forum post</a>
</div>
<hr />
<div class="row">
    @foreach (var category in Model.Categories)
    {
<div class="col-md-4 media">
    <img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Title">
    <div class="media-body">
        <h5 class="mt-0">
            <a href="@category.Url">
                @category.Title 
            </a>
        </h5>
        @category.Description
    </div>
</div>}
</div>


@*<div class="card-group">
        <div class="card">
            <img src="@category.ImageUrl" alt="..." class="img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">@category.Name</h5>
                <p class="card-text">@category.Description</p>
                <a href="@category.Url" class="btn btn-success">Read About</a>
            </div>
        </div>
    </div>*@
@*<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@category.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@category.Name</h5>
            <p class="card-text">@category.Description</p>
            <a href="#" class="btn btn-success">Read About</a>
        </div>
    </div>*@
@*<div class="card bg-dark text-danger">
        <img class="card-img" src="@category.ImageUrl" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title">@category.Name</h5>
            <p class="card-text">@category.Description</p>
            <a href="@category.Url" class="btn btn-success">Read About</a>
        </div>
    </div>*@ @*****
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="@category.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <a href="@category.Url" class="btn btn-success">Read About</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="@category.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <a href="@category.Url" class="btn btn-success">Read About</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="@category.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <a href="@category.Url" class="btn btn-success">Read About</a>
                </div>
            </div>
        </div>
    }*@